*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body, html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 8px;
  
}


html::-webkit-scrollbar-thumb{
background-color: #003264;
}
html::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
}



.bg {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.757), rgba(0, 0, 0, 0.754), rgba(105, 105, 105, 0.195)), url(img/foto1sfoc1.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 800px;
  max-height: 1200px;
  
  }
  
  .bg .logo {
  position: absolute;
  top: -2%;
  left: 1%;
  opacity: 0;
  }
  .logo.animate{
    opacity: 1;
    transition: 0.5s;
  }
  
  .bg .box-titolo {
  position: absolute;
  top: 40%;
  left: 2%;
  max-width: 50%;
  border-left: 1px solid white;
  opacity: 0;
  }

  .bg .box-titolo.animate {
    position: absolute;
    top: 40%;
    left: 2%;
    opacity: 1;
    transition: 0.5s;
   
    }

  
  .bg h1 {
    position: relative;
    left: 100%;
  color: #0b5daf;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.3;
  position: relative;
  /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url('img/Cattura.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    opacity: 0;
  }

  .bg h1.animate{
    left: 2%;
    opacity: 1;
    transition: 1s ease-in-out;
  }
  
  h1 span {
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  }
  
  .bg .box-sottotitolo {
  position: absolute;
  top: 60%;
  left: 2%;
  }
  
  .box-sottotitolo p {
  position: relative;
  left: 100%;
  color: #0b5daf;
  font-size: 25px;
  font-weight: 600;
  line-height: 42px;
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  background-image: url('img/Cattura.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;*/
  opacity: 0;
  }

  .bg p.animate{
    opacity: 1;
    left: 0;
    transition: 1s ease-in-out;
    transition-delay: .5s;
  }
  
  .bg p span {
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  }
  
  .bg .scroll-down {
  position: absolute;
  height: 60px;
  width: 50px;
  left: 49%;
  bottom: -100%;
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
  }
  
  .scroll-down.animate{
    opacity: 1;
    bottom: 1%;
  }

  .bg .scroll-down::before {
  content: '';
  position: absolute;
  top: 20%;
  right: 49%;
  border: 3px solid rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  transform: translate(-50%, -80%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll 1.2s ease-in-out infinite;
  
  
  }
  
  .scroll-down::after{
    top: 30%;
    animation-delay: .4s;
  }
  
  @keyframes scroll{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    75%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      top: 90%;
    }
  }

  @media (max-width: 1600px) {
    .bg h1 {
      font-size: 58px;
      line-height: 1.4;
      
      }
      
      .bg .box-titolo.animate {
        top: 40%;
        left: 3%;
        width: 90%;
        max-width: 65%;
        }
  }

  @media (max-width: 1280px) {
    .bg h1 {
      font-size: 54px;
      line-height: 1.4;
      
      }
      
      .bg .box-titolo.animate {
        top: 40%;
        left: 3%;
        width: 90%;
        max-width: 65%;
        }
  }

  @media (max-width: 1060px) {
    .bg h1 {
      font-size: 45px;
      line-height: 1.4;
      
      }
      
      .bg .box-titolo.animate {
        top: 40%;
        left: 3%;
        width: 90%;
        max-width: 65%;
        }
  }

  @media (max-width: 768px) {

    .bg .logo {
      position: absolute;
      top: -2%;
      left: 30%;
     
      }
    
    .bg h1 {
    font-size: 40px;
    line-height: 1.4;
    
    }
    
    .bg .box-titolo.animate {
      top: 40%;
      left: 3%;
      width: 90%;
      max-width: 65%;
      }

    .bg .box-sottotitolo {
      top: 60%;
      left: 3%;
      width: 90%;
      }

    .bg p {
    font-size: 22px;
    line-height: 35px;
    }
    
    .scroll-down {
    height: 60px;
    width: 50px;
    bottom: 10px;
    }
    
    .bg .scroll-down::before {
    top: 18%;
    left: 0%;
    height: 8px;
    width: 8px;
    }
    
    .scroll-down::after {
    top: 25%;
    }
    }

    @media (max-width: 610px) {

      .bg .logo {
        position: absolute;
        top: -4%;
        left: 25%;
        }

      .bg h1 {
        font-size: 35px;
        line-height: 1.4;
        
        }
        
        .bg .box-titolo.animate {
          top: 40%;
          left: 3%;
          width: 90%;
          max-width: 65%;
          }
    }

    @media (max-width: 480px) {

   
      .bg .logo {
        position: absolute;
        top: -4%;
        left: 19%;
        }

      .bg .box-titolo {
      top: 30%;
      left: 3%;
      width: 90%;
      }
      
      .bg h1 {
      font-size: 30px;
      line-height: 1.4;
      background: #0b5daf;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      }
      
      
      .bg .box-sottotitolo {
      top: 55%;
      left: 3%;
      width: 90%;
      }
      
      .bg p{
      font-size: 18px;
      line-height: 35px;
      background: #0b5daf;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      left: 0;
      }

      .bg p.animate{
        opacity: 1;
        left: 0;
        transition: 1s ease-in-out;
        transition-delay: .5s;
      }
      
      .bg .scroll-down {
      height: 50px;
      width: 40px;
      bottom: 5px;
      }
      
      .bg .scroll-down::before {
      top: 18%;
      right: 46%;
      
      }
      
      .bg .scroll-down::after {
      top: 23%;
      }
      }

      @media (max-width: 375px) {

   
        .bg .logo {
          position: absolute;
          top: -4%;
          left: 9%;
          }
        }

        .int1 {
          display: flex;
          flex-direction: column;
          box-sizing: content-box;
          margin: 0 auto;
          width: 90%;
          padding-top: 4%;
          padding-bottom: 5%;
          border-bottom: 1px solid rgb(73, 73, 73);
          background-size: cover;
          overflow: hidden;
          
      }
      
      .int1 h3 {
          position: relative;
          text-align: center;
          color: rgb(0, 0, 0);
          font-size: 40px;
          font-weight: 700;
          text-transform: uppercase;
          padding-bottom: 3%;
          line-height: 50px;
          background-size: cover;
          background: #0b5daf;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          opacity: 1;
      }
      
      .int1 p {
        margin-top: 5%;
          font-size: 20px;
      }
      
      .int1 .pspan {
          position: relative;
          left: 0%;
          text-align: center;
          font-size: 40px;
          font-weight: 600;
          line-height: 30px;
          background: #003264;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          background-size: cover;
      }
      
      .int1 .pspan span {
          font-weight: 500;
      }

      .int1 .cont{
        display: flex;
        
       
      }
      
      .int1 .column {
          display: flex;
          
          border-left: 1px solid #032241;
          text-align: center;
          padding: 25px;
          width: 25%;
          flex-direction: column;
          margin-bottom: 0%;
          margin-top: 2%;
          box-shadow: -0px 2px 1px 0px #032241;
          transition: .2s ease-in-out;
          z-index: 0;
          
      }
      .int1 .column:hover {
        scale: 1.05;
        transition: .2s ease-in-out;
        background-color: #ffffff;
        box-shadow: -0px 8px 11px 0 #032241;
        z-index: 10;
      }
      
      .column:first-child {
          border-left: none; /* Rimuove il bordo sinistro dalla prima colonna */
      }

      .int1 .column h2{
        font-size: 35px;
        font-weight: 600;
        flex-wrap: wrap;
        word-wrap:break-word;
      }

      
      
      .column p{
        font-size: 22px;
        margin-top: 5%;
      }
      
      @media (max-width: 1440px) {
        .int1 .column h2{
          font-size: 30px;
          font-weight: 600;
          flex-wrap: wrap;
          word-wrap:break-word;
        }
  
        
        
        .column p{
          font-size: 20px;
          margin-top: 5%;
        }
        
      }

      @media (max-width: 1080px) {
        .int1 {
          max-width: 90%;
          margin: 0 auto;
          padding-top: 6%;
        
          border-bottom: 1px solid rgb(73, 73, 73);
        }
        
        .int1 h3 {
          font-size: 40px;
          line-height: 60px;
        }
        
        .int1 .pspan{
          font-size: 30px;
          line-height: 30px;
        }

        .int1 .column h2{
          font-size: 26px;
          font-weight: 600;
          flex-wrap: wrap;
          word-wrap:break-word;
        }
        
        .column p{
          font-size: 18px;
          margin-top: 5%;
        }
      }


      @media (max-width: 900px) {
        .int1 .column h2{
          font-size: 20px;
          font-weight: 600;
          flex-wrap: wrap;
          word-wrap:break-word;
        }
        
        .column p{
          font-size: 16px;
          margin-top: 5%;
        }
      }

        @media (max-width: 768px) {
        .int1 {
          width: 90%;
          margin: 0 auto;
          padding-top: 8%;
          border-bottom: 1px solid rgb(73, 73, 73);
        }
        
        .int1 h3 {
          font-size: 30px;
          line-height: 40px;
        }
        
        .int1 .pspan {
          font-size: 30px;
          line-height: 22px;
        }

        .int1 p {
          margin-top: 5%;
          font-size: 18px;
          
        }
        .int1 .cont{
          flex-wrap: wrap;
        }
        .int1 .column {
          width: 50%;
        }
        .column:first-child,
.column:nth-child(3) {
    border-left: none; /* Rimuove il bordo sinistro dalla prima e terza colonna */
}

      }
  
        @media (max-width: 480px) {

   .int1 {
          width: 90%;
          margin: 0 auto;
          padding-top: 8%;
          padding-bottom: 1%;
          border-bottom: 1px solid rgb(73, 73, 73);
          
        }
        
        .int1 h3 {
          text-align: center;
          font-size: 26px;
          line-height: 40px;
          background: #0b5daf;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
        }
        
        .int1 .pspan {
          font-size: 24px;
          line-height: 20px;
         
        }
        .int1 p {
          font-size: 16px;
          
        }

        .int1 .column {
          padding-bottom: 0;
        }
      }   
 
.int3{
  width: 100%;
  height: 90%;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  background:linear-gradient( rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.61),rgba(105, 105, 105, 0.589) ), url(img/sfondoint3\(2\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin:0 auto;
  border-bottom: 1px solid rgb(73, 73, 73);
  
  
  
  }

  .int3 span{
    
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
  }

.int3 h3{
  position: relative;
  top: -10%;
  text-align: center;
  color: #0b5daf;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;  
  padding-top: 5%; 
 /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url('img/Cattura.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    opacity: 0;
}

.int3.visible h3{
  width: 90%;
  opacity: 1;
  top: 0;
  transition: .5s;
  transition-delay: 1s;
}


.int3 p{
  position: relative;
  top: -30%;
  text-align: center;
  color: white;
  line-height: 25px;  
  padding-top: 7%; 
  padding-bottom: 3%;
  font-size: 20px;
  font-weight: 600;
  background-size: cover;
  background: #0b5daf;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
    opacity: 0;
 
}

.int3.visible p{
  opacity: 1;
  top: 0;
  transition: 1s;
  transition-delay: 1s;
}

.int3 p span{
  background: #ffffff;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
}


.int3 .box-video {
  position: relative;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
	max-height: 350px;
  opacity: 0;
  
 
}
.int3.visible .box-video {
  opacity: 1;
  top: 0;
  transition: .8s;
  transition-delay: 1s;
 
}


video{
    width: 30%;
    height: auto;
    margin-right: 3%;
    background: rgba(4, 48, 105, 0.479);
  }
  .slider-container3 {
    display: block;
    height: 360px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 500px;
  
  }
  .slider-container3 .arrow-left3 {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate3d(-250px, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-right: 25px solid #ffffff;
    border-bottom: 15px solid transparent;
  }
  
  
  .slider-container3 .arrow-right3 {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate3d(250px, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-left: 25px solid #ffffff;
    border-bottom: 15px solid transparent;
  
  }
 
  
  .slider-container3 .dots3 {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    user-select: none;
    justify-content: center;
    margin-top: 10%;
  }
  .slider-container3 .dots3 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
    position: relative;
    
  }
  .slider-container3 .dots3 span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.6;
    border: 2px solid black;
  }

  .slider-container3 .dots3 span.active:before {
    background-color: #1a4d80;
    opacity: 1;
  }
  .slider-container3 .slider3 {
    display: block;
    width: 102.5%;
    height: 100%;
    margin: 0 auto;
    position: relative;
        left: 2.5%;
    text-align: center;
  
    color: white;
  }

  .slider-container3 .slider3 .slide3 {
    display: flex;
      width: 100%;
      height: 270px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
      transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
      background-color: #2c2a4000;
      align-items: center;
      justify-content: center;
  }
 
  .slider-container3 .slider3 .slide3.prev-13 {
    transform: translate3d(-85%, -50%, 0) scale3d(1, 1, 1);
    z-index: 2;
  }
  .slider-container3 .slider3 .slide3.prev-23 {
    transform: translate3d(-103%, -50%, 0) scale3d(0.8, 0.8, 1);
    z-index: 1;
    opacity: 0;

  }
  .slider-container3 .slider3 .slide3.next-13 {
    z-index: 2;
    transform: translate3d(-15%, -50%, 0) scale3d(1, 1, 1);
  }
 
  .slider-container3 .slider3 .slide3.active {
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale3d(1.5, 1.5, 1);
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @media (max-width: 1024px) {
    .slider-container3 {
      display: block;
      height: 360px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      max-width: 500px;
      margin-top: 20px;
    }
    .slider-container3 .arrow-left3 {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate3d(-150px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-right: 25px solid #ffffff;
      border-bottom: 15px solid transparent;
    }
    
    
    .slider-container3 .arrow-right3 {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translate3d(150px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-left: 25px solid #ffffff;
      border-bottom: 15px solid transparent;
    
    }
   
    
    .slider-container3 .dots3 {
      display: flex;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      user-select: none;
      justify-content: center;
      margin-top: 10%;
    }
    .slider-container3 .dots3 span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      cursor: pointer;
      user-select: none;
      padding: 10px 0;
      position: relative;
      
    }
    .slider-container3 .dots3 span:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #ccc;
      opacity: 0.6;
      border: 2px solid black;
    }
  
    .slider-container3 .dots3 span.active:before {
      background-color: #0b5daf;
      opacity: 1;
    }
    .slider-container3 .slider3 {
      display: block;
      width: 95%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      left: 1%;
      text-align: center;
    
      color: white;
    }

    .slider-container3 .slider3 .slide3 {
      display: flex;
        width: 100%;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
        background-color: #2c2a4000;
        align-items: center;
        justify-content: center;
    }
    .slider-container3 .slider3 .slide3.prev-23 {
      transform: translate3d(-95%, -50%, 0) scale3d(0.5, 0.5, 0);
      z-index: 1;
      opacity: 0.5;
    }
    .slider-container3 .slider3 .slide3.prev-13{
      transform: translate3d(-82%, -50%, 0) scale3d(0.9, 0.9, 1);
      z-index: 2;
    }
    .slider-container3 .slider3 .slide3.next-13 {
      z-index: 2;
      transform: translate3d(-18%, -50%, 0) scale3d(0.9, 0.9, 1);
    }
    .slider-container3 .slider3 .slide3.next-23 {
      z-index: 1;
      transform: translate3d(-5%, -50%, 0) scale3d(0.5, 0.5, 0);
      opacity: 0.5;
    }
    .slider-container3 .slider3 .slide3.active {
      z-index: 3;
      transform: translate3d(-50%, -50%, 0) scale3d(1.3, 1.3, 1);
      
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
    @media (max-width: 768px) {
      
      .slider-container3 .slider3 {
        position: relative;
        
        height: 360px;
        width: 10%;
      }
      .slider-container3 .slider3 video {
       
        width: 130px;
      }
    .slider-container3 .slider3 .slide3 {
      display: flex;
        width: 100%;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
        background-color: #2c2a4000;
        align-items: center;
        justify-content: center;
    }
      .slider-container3 .arrow-right3 {
        transform: translate3d(80px, -50%, 0);
      }
      .slider-container3 .arrow-left3 {
        transform: translate3d(-80px, -50%, 0);
      }
    
    
    .slider-container3 .slider3 .slide3.prev-23 {
      transform: translate3d(-95%, -50%, 0) scale3d(0, 0, 0);
      z-index: 1;
      opacity: 0;
    }
    .slider-container3 .slider3 .slide3.prev-13 {
      transform: translate3d(-350%, -50%, 0) scale3d(1, 1, 1);
      z-index: 2;
      
    }
    .slider-container3 .slider3 .slide3.next-13 {
      z-index: 2;
      transform: translate3d(250%, -50%, 0) scale3d(1, 1, 1);
    }
    .slider-container3 .slider3 .slide3.next-23 {
      z-index: 1;
      transform: translate3d(-5%, -50%, 0) scale3d(0, 0, 0);
      opacity: 0;
    }
    .slider-container3 .slider3 .slide3.active {
      z-index: 3;
      transform: translate3d(-50%, -50%, 0) scale3d(1.5, 1.5, 1);
      
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  @media (max-width: 580px) {
    .slider-container3 .slider3 {
      position: relative;
      
      height: 350px;
      width: 10%;
    }
    @media (max-width: 425px) {
      .slider-container3 .slider3 {
        position: relative;
        left: 0%;
        height: 340px;
        width: 10%;
      }
    }

  .slider-container3 .slider3 .slide3 {
    display: flex;
      width: 100%;
      height: 270px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
      transition: transform 0.1s;
      background-color: #2c2a4000;
      align-items: center;
      justify-content: center;
  }
    .slider-container3 .arrow-right3 {
      transform: translate3d(40px, -50%, 0);
    }
    .slider-container3 .arrow-left3 {
      transform: translate3d(-40px, -50%, 0);
    }
  
  
  .slider-container3 .slider3 .slide3.prev-23 {
    transform: translate3d(-95%, -50%, 0) scale3d(0, 0, 0);
    z-index: 1;
    opacity: 0;
  }
  .slider-container3 .slider3 .slide3.prev-13 {
    transform: translate3d(-350%, -50%, 0) scale3d(0, 0, 0);
    z-index: 2;
    opacity: 0;
  }
  .slider-container3 .slider3 .slide3.next-13 {
    z-index: 2;
    transform: translate3d(250%, -50%, 0) scale3d(0, 0, 0);
    opacity: 0;
  }
  .slider-container3 .slider3 .slide3.next-23 {
    z-index: 1;
    transform: translate3d(-5%, -50%, 0) scale3d(0, 0, 0);
    opacity: 0;
  }
  .slider-container3 .slider3 .slide3.active {
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale3d(1.6, 1.6, 1);
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
  

@media(max-width: 768px ){
  .int3 span{
    
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
  }

.int3 h3{
  position: relative;
  width: 90%;
  top: -20%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;  
  padding-top: 4%; 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url('img/Cattura.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.int3.visible h3{
  opacity: 1;
  top: 0;
  transition: 1s;
  transition-delay: 1s;
}


.int3 p{
  position: relative;
  width: 90%;
  top: -30%;
  text-align: center;
  color: white;
  line-height: 25px;  
  padding-top: 7%; 
  padding-bottom: 3%;
  font-size: 20px;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
    background-color: #003264;
    opacity: 0;
 
}

.int3 p.visible{
  opacity: 1;
  top: 0;
  transition: 1s;
  transition-delay: 1s;
}

.int3 p span{
  background: #ffffff;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
}
}

  

@media(max-width: 480px ){
  .int3 span{
    
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
  }

.int3 h3{
  position: relative;
  width: 90%;
  top: -20%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;  
  padding-top: 8%; 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url('img/Cattura.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.int3.visible h3{
  opacity: 1;
  top: 0;
  transition: 1s;
  transition-delay: 1s;
}


.int3 p{
  position: relative;
  width: 90%;
  top: -30%;
  text-align: center;
  color: white;
  line-height: 25px;  
  padding-top: 15%; 
  padding-bottom: 3%;
  font-size: 16px;
  font-weight: 600;
  background: #0b5daf;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
    opacity: 0;
 
}

.int3 p.visible{
  opacity: 1;
  top: 0;
  transition: 1s;
  transition-delay: 1s;
}

.int3 p span{
  background: #ffffff;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
}
}


@media (max-width:1260px){
  .int3 .outer-wrapper::-webkit-scrollbar {
  height: 10px;  
  transition: 1s ease-in-out;
  background: #eceaea5d;
  border-radius: 20px;
}
}

.int-mezzo{
  overflow: hidden;
}

.int-mezzo h3{
  color: white;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;

}

.int-mezzo .cont{
  display: flex;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(331deg, rgba(0,0,0,1) 0%, rgba(14,14,29,1) 22%, rgba(2,0,31,1) 38%, rgba(2,0,31,1) 53%, rgba(2,0,31,1) 71%, rgba(14,14,29,1) 82%, rgba(0,0,0,1) 100%);    flex-direction: column;
  padding-top: 1%;

  
 
}
.int-mezzo .row {
  display: flex;
  align-items: flex-start;
  
}

.int-mezzo .column {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px;
    width: 25%;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    z-index: 0;
    
}

.int-mezzo p{

  font-size: 30px;
  padding-top: 10%;

}

@media (max-width:1440px){


  .int-mezzo h3{
    font-size: 30px;
  }
  .int-mezzo p{

    font-size: 24px;
  
  }
  
}


@media (max-width:1080px){


  .int-mezzo h3{
    font-size: 30px;
  }
  .int-mezzo p{

    font-size: 22px;
  
  }
  .int-mezzo img{
    width: 60px;
    height: 60px;
  }
}

@media (max-width:768px){


  .int-mezzo h3{
    font-size: 30px;
  }
  .int-mezzo p{

    font-size: 20px;
    padding-top: 2%;
    width: 70%;
  
  }
 
  .int-mezzo .column {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px;
    width: 50%;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    z-index: 0;
    
}

}

@media (max-width:620px){


  .int-mezzo h3{
    font-size: 26px;
  }
  .int-mezzo p{

    font-size: 18px;
  
  }
  .int-mezzo img{
    width: 50px;
    height: 50px;
  }
}

@media (max-width:480px){


  .int-mezzo h3{
    font-size: 24px;
  }
  .int-mezzo p{

    font-size: 16px;
  
  }
  .int-mezzo img{
    width: 40px;
    height: 40px;
  }
}

.int4{
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin:0 auto;
  width: 90%;
  padding-top: 3%;
  padding-bottom: 5%;
  max-height: 1200px;
  border-bottom: 1px solid black;
  
}




.int4 h3{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;   

  padding-top: 3%;

}


.int4 h3 span {
  position: relative;
  top: 15%;

}

.int4 p{

  font-size: 20px;
  
}

.int4 .pspan{
  position: relative;
  left: 0%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;  
}


.int4 .pspan span{
  font-weight: 500;
}

@media(max-width: 1080px ){

  .int4 .pspan{
    
    font-size: 28px;
      
  }
}

@media(max-width: 768px ){
  .int4 h3 span {
    font-size: 30px;
    line-height: 40px;
  }

  .int4 .pspan{
    
    font-size: 26px;
      
  }

  .int4 p{

    font-size: 18px;

  }
}
@media(max-width: 480px ){


  .int4 h3{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;   
    padding-top: 8%;

  
  }


.int4 h3 span {
  position: relative;
  font-size: 26px;
  background: #000000;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.int4 .pspan{
    
  font-size: 24px;
    
}

.int4 p{

  font-size: 16px;

}



}

.int5{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  background:linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.719),rgba(105, 105, 105, 0.589) ), url(img/photo1677063324\ \(1\).jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin:0 auto;
  width: 100%;
  padding-bottom: 5%;
  max-height: 1200px;

  
  
  }
/*
  .int5 span{
    
    background: rgb(163,209,255);
    background: linear-gradient(48deg, rgba(163,209,255,1) 0%, rgba(2,110,219,1) 18%, rgba(78,133,189,1) 34%, rgba(93,174,255,1) 50%, rgba(36,120,204,1) 64%, rgba(1,85,168,1) 83%, rgba(38,147,255,1) 93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
    text-transform: uppercase;
  }
*/
.int5 h3{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;  
  padding-top: 5%;
}

.int5 .nome{
  font-size:26px ;

}

.int5 h6{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;  
  padding-top:1% ;
  background-size: cover;
  background: #0b5daf;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;

 

}

.int5 p b span{
  display: flex;
  justify-content: center;
  font-size: 24px;
  text-transform: uppercase;
}



.int5  span{
  background: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    -webkit-text-fill-color: transparent;
}

.int5 p{

  color:#0b5daf;;
  line-height: 32px;  
  padding-top: 4%; 
  font-size: 25px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
  position: relative;

  
 
 
}

.int5 p span{
  text-transform: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
}


@media(max-width: 768px ){




.int5 h3{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  

}
.int5 h6{
  text-align: center;
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  padding-top:2% ;
  padding-bottom: 3%;
 

}


.int5 .nome{
  font-size: 20px;
}

.int5 p{
  text-align: left;
  color: #0b5daf;  
  padding-top: 4%; 
  padding-bottom: 3%;
  font-size: 19px;
  font-weight: 600;
  width: 90%;
  line-height: 24px;
  margin: 0 auto;
  max-height: 100%;
 
}

.int5 p span{
  text-transform: none;
  font-size: 18px;
}
.int5 p b span{

  font-size: 20px;
}
}


@media(max-width: 480px ){



.int5 h3{
  width: 90%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  

}


#sdt{
  text-align: center;
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  padding-top:2% ;
  padding-bottom: 3%;
}

.int5 .nome{
  font-size: 18px;
}

.int5 p{

  font-size: 17px;

 
}

.int5 p span{
  text-transform: none;
  font-size: 16px;
}

.int5 p b span{
  
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 15%;
}

}

.int6{
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0 auto;
  width: 90%;
  padding-top: 3%;
  padding-bottom: 6%;

  max-height: 1200px;
  
}




.int6 h3{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;  
  padding-top: 3%;

}


.int6 p{
  font-size: 20px;
}

 


  @media(max-width: 768px ){

    .int6 h3{
      
      font-size: 30px;
    }

    .int6 p{
      font-size: 18px;
    }
  }
   
  @media(max-width: 480px ){

    .int6 h3{
      
      font-size: 26px;
    }

    .int6 p{
      font-size: 16px;
    }
  }




.grad h1 span{
    background-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

  }



  .grad p span{
    background-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  

  .grad h3 span{
    background-color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

  }

  .grad .pspan span{
    background-color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }


.whats{
  position: fixed;
    top:90%;
    right: 1%;
    width: 30px;
    height: 30px;
  border-radius: 10px;
  border: none;
  opacity: 0;
  box-shadow: 2px 6px 11px 0 rgb(0, 0, 0);
  
}

.whats.animate{
  width: 65px;
  height: 65px;
  opacity: 1;
  transition: 1s;
  
}

.whats img{
    position: fixed;
    top:90%;
    right: 1%;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    
  }
  .whats img.animate:hover{
    transform: scale(1.2);
    transition: 0.5s;
  }

  .whats img.animate{
    width: 65px;
    height: 65px;
    opacity: 1;
    transition: 1s;
    
  }

  .box-button{
    font-family: 'Lora', serif;
    position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  height: 65px;
 margin-top: 1%;
  }

.bottone{
  
  
  height: auto;
  width: 400px;
  font-family: 'Lora', serif;
  border-radius: 8px;
  background: rgb(7,50,108);
  background: linear-gradient(41deg, rgba(7,50,108,1) 17%, rgba(4,60,136,1) 24%, rgba(12,68,143,1) 39%, rgba(0,61,145,1) 59%, rgba(16,68,139,1) 73%, rgba(22,70,135,1) 80%, rgba(5,52,115,1) 88%, rgba(0,53,117,1) 94%);
  color: white;
  font-size: 22px;
  font-weight: 750;
  transform-style: preserve-3d;
  box-shadow: 0px 6px 11px 0 rgb(0, 0, 0);
  border:3px solid #ffffff;
  transition: 0.5s ease-in-out;
  
}

.bottone p{
  width: 90%;
  margin:0 auto;
  font-size: 24px;
  
}

.bottone:hover{
  transform: scale(1.15);
  transition: 0.5s ease-in-out;
  
}

@media (max-width:768px){
  .whats{
    position: fixed;
      top:90%;
      right: 3%;
      width: 30px;
      height: 30px;
    
  }
  
  .whats.animate{
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: 1s;
    
  }
  
  .whats img{
      position: fixed;
      top:90%;
      right: 3%;
      width: 30px;
      height: 30px;
      
    }
    .whats img.animate:hover{
      transform: scale(1.2);
      transition: 0.5s;
    }
  
    .whats img.animate{
      width: 50px;
      height: 50px;
      opacity: 1;
      transition: 1s;
      
    }
    .box-button{
      margin-bottom: 8%;
    }

    .bottone{
      width: 300px;
      margin-top: 10%;
    }
    .bottone p{
      font-size: 20px;
    }
}


@media (max-width:480px){
  .box-button{
    margin-bottom: 18%;
    margin-top: 0;
  }
  .bottone{
    width: 250px;
    margin-top: 10%;
  }
  .bottone p{
    font-size: 16px;
  }
}

@media(min-width: 1080px ){
  .card3.visible{
    transform: rotate3d(0, 5, 0, 360deg);
    transition: 1s;
  }
  }
  @media(min-width: 768px ){
     .int2 .card1.visible{
      transform: rotate3d(0, 1, 0, 360deg);
      transition: 1s;
    }
      .int2 .card2.visible{
      transform: rotate3d(0, 5, 0, 360deg);
      transition: 1s;
    }

    .int4 .card1.visible{
      transform: rotate3d(0, 1, 0, 360deg);
      transition: 1s;
    }
    
    
    .int4 .card2.visible{
      transform: rotate3d(0, 5, 0, 360deg);
      transition: 1s;
    }
    

    .int6 .card1.visible{
      transform: rotate3d(0, 1, 0, 360deg);
      transition: 1s;
    }
    
    
    .int6 .card2.visible{
      transform: rotate3d(0, 5, 0, 360deg);
      transition: 1s;
    }
    
    .int6 .card3.visible{
      transform: rotate3d(0, 5, 0, 360deg);
      transition: 1s;
    }
    .int6 .card4.visible{
      transform: rotate3d(0, 1, 0, 360deg);
      transition: 1s;
    }
    
    
    .int6 .card5.visible{
      transform: rotate3d(0, 5, 0, 360deg);
      transition: 1s;
    }
  }
 

  
  .slider-container {
    display: block;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    margin-top: 20px;
    opacity: 0;
  }

  .slider-container.visible{
    opacity: 1;
    transition: 1s;
  }

  .slider-container .arrow-left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate3d(-200px, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-right: 30px solid #070a6b;
    border-bottom: 15px solid transparent;
 
  }

  .slider-container .arrow-right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate3d(200px, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-left: 30px solid #070a6b;
    border-bottom: 15px solid transparent;
  }
 
  
  .slider-container .dots {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    user-select: none;
    justify-content: center;
    margin-top: 5%;
  }
  .slider-container .dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
    position: relative;
    
  }
  .slider-container .dots span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.6;
    border: 2px solid black;
  }
  @media (max-width: 768px) {
    .slider-container .dots span {
      width: 23px;
      margin-bottom: 15px;
    }
  }
  .slider-container .dots span.active:before {
    background-color: #070a6b;
    opacity: 1;
  }
  .slider-container .slider {
    display: block;
    width: 102.5%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
  
    color: white;
  }
  @media (max-width: 768px) {
    .slider-container .slider {
      height: 450px;
    }
  }
  .slider-container .slider .slide {
    display: flex;
      width: 100%;
      height: 270px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
      transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
      background-color: #2c2a4000;
      align-items: center;
      justify-content: center;
  }
  
  @media (max-width: 768px) {
    .slider-container .slider .slide {
      width: 100%;
      height: 450px;
    }
    .slider-container .arrow-right {
      transform: translate3d(50px, -50%, 0);
    }
  }
  
  .slider-container .slider .slide.prev-2 {
    transform: translate3d(-85%, -50%, 0) scale3d(0.7, 0.7, 1);
    z-index: 1;
    opacity: 0.5;
  }
  .slider-container .slider .slide.prev-1 {
    transform: translate3d(-70%, -50%, 0) scale3d(0.9, 0.9, 1);
    z-index: 2;
  }
  .slider-container .slider .slide.next-1 {
    z-index: 2;
    transform: translate3d(-30%, -50%, 0) scale3d(0.9, 0.9, 1);
  }
  .slider-container .slider .slide.next-2 {
    z-index: 1;
    transform: translate3d(-15%, -50%, 0) scale3d(0.7, 0.7, 1);
    opacity: 0.5;
  }
  .slider-container .slider .slide.active {
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1);
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card {
    
    background-color: transparent;
    width: 250px;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
    
  
  }
  
  
  .card1{
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
  }
  
  
  
  .card2{
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
  }
  
   .card3{
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
  }
  
  
  .card4{
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
  }
  
  .card5{
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
    transition: .5s ease-in-out;
  }
  
  .flip-card h4 {
  
    max-width: 300px;
    background: #2b67a3;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    z-index: 1000;
  }
  
  .flip-card h4 span{
    background: #ffffff;
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  .flip-card-inner {
    position: relative;
    width: 250px;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.884);
    border-radius: 5%;
  }
  
  .flip-card.active .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 250px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 26px;
    padding: 2%;
    background: linear-gradient(-180deg, #00115c 0%, hsl(200, 27%, 2%) 98%), radial-gradient(at top left, rgba(27, 27, 27, 0.3) 0%, rgba(0,0,0,0.30) 100%);
   background-blend-mode: screen;
    border: 4px solid rgb(163, 163, 163);
    border-radius: 5%;
    
  }
  
  .flip-card-front h4{
    font-weight: 600;
  }
  
  
  .flip-card .click{
    position: absolute;
    top: 90%;
    left: 19%;
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
    color: rgb(163, 163, 163);
    z-index: 9999;
    transition: 0s;
    
  }

  .flip-card.active .click {
    transform: rotateY(180deg);
    transition: 0s;
  }
  
  
  .flip-card-front:hover .click{
    transform: scale(1.2);
    top: 84%;
    transition: 0.5s ease-in-out;
  }
  
  .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(-180deg, #00115c 0%, hsl(200, 27%, 2%) 98%), radial-gradient(at top left, rgba(27, 27, 27, 0.3) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
     border: 4px solid rgb(163, 163, 163);
    color: white;
    transform: rotateY(180deg);
    border-radius: 5%;
  }
  
  .flip-card-back p {
  
  max-width: 200px;
  text-align: center;
  z-index: 1000;
  font-weight: 100;
  line-height: 25px;
  }
  
  .flip-card-back b{
    text-transform: uppercase;
    font-size: 18px;
  }
 

  @media(max-width:1460px){
    .slider-container {
      display: block;
      height: 500px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      max-width: 700px;
      margin-top: 20px;
    }
    .slider-container .arrow-left {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate3d(-200px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-right: 25px solid #070a6b;
      border-bottom: 15px solid transparent;
    }
    
    
    .slider-container .arrow-right {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translate3d(200px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-left: 25px solid #070a6b;
      border-bottom: 15px solid transparent;
    }
   
    
    .slider-container .dots {
      display: flex;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      user-select: none;
      justify-content: center;
      margin-top: 5%;
    }
    .slider-container .dots span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      cursor: pointer;
      user-select: none;
      padding: 10px 0;
      position: relative;
      
    }
    .slider-container .dots span:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #ccc;
      opacity: 0.6;
      border: 2px solid black;
    }
  
    .slider-container .dots span.active:before {
      background-color: #070a6b;
      opacity: 1;
    }
    .slider-container .slider {
      display: block;
      width: 102.5%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
    
      color: white;
    }
    @media (max-width: 768px) {
      .slider-container .slider {
        height: 450px;
      }
    }
    .slider-container .slider .slide {
      display: flex;
        width: 100%;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
        background-color: #2c2a4000;
        align-items: center;
        justify-content: center;
    }
    
    @media (max-width: 768px) {
      .slider-container .slider .slide {
        width: 100%;
        height: 450px;
      }
    }
    
    .slider-container .slider .slide.prev-2 {
      transform: translate3d(-95%, -50%, 0) scale3d(0.5, 0.5, 1);
      z-index: 1;
      opacity: 0.5;
    }
    .slider-container .slider .slide.prev-1 {
      transform: translate3d(-75%, -50%, 0) scale3d(0.7, 0.7, 1);
      z-index: 2;
    }
    .slider-container .slider .slide.next-1 {
      z-index: 2;
      transform: translate3d(-25%, -50%, 0) scale3d(0.7, 0.7, 1);
    }
    .slider-container .slider .slide.next-2 {
      z-index: 1;
      transform: translate3d(-5%, -50%, 0) scale3d(0.5, 0.5, 1);
      opacity: 0.5;
    }
    .slider-container .slider .slide.active {
      z-index: 3;
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
      
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  @media (max-width: 1024px) {
    .slider-container {
      display: block;
      height: 500px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      max-width: 500px;
      margin-top: 20px;
    }
    .slider-container .arrow-left {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate3d(-170px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-right: 25px solid #070a6b;
      border-bottom: 15px solid transparent;
    }
    
    
    .slider-container .arrow-right {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translate3d(170px, -50%, 0);
      color: white;
      font-size: 28px;
      cursor: pointer;
      z-index: 9;
      border-top: 15px solid transparent;
      border-left: 25px solid #070a6b;
      border-bottom: 15px solid transparent;
    
    }
   
    
    .slider-container .dots {
      display: flex;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      user-select: none;
      justify-content: center;
      margin-top: 5%;
    }
    .slider-container .dots span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      cursor: pointer;
      user-select: none;
      padding: 10px 0;
      position: relative;
      
    }
    .slider-container .dots span:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #ccc;
      opacity: 0.6;
      border: 2px solid black;
    }
  
    .slider-container .dots span.active:before {
      background-color: #070a6b;
      opacity: 1;
    }
    .slider-container .slider {
      display: block;
      width: 102.5%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
    
      color: white;
    }

    .slider-container .slider .slide {
      display: flex;
        width: 100%;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
        background-color: #2c2a4000;
        align-items: center;
        justify-content: center;
    }
    .slider-container .slider .slide.prev-2 {
      transform: translate3d(-95%, -50%, 0) scale3d(0.5, 0.5, 0);
      z-index: 1;
      opacity: 0.5;
    }
    .slider-container .slider .slide.prev-1 {
      transform: translate3d(-85%, -50%, 0) scale3d(0.7, 0.7, 1);
      z-index: 2;
    }
    .slider-container .slider .slide.next-1 {
      z-index: 2;
      transform: translate3d(-15%, -50%, 0) scale3d(0.7, 0.7, 1);
    }
    .slider-container .slider .slide.next-2 {
      z-index: 1;
      transform: translate3d(-5%, -50%, 0) scale3d(0.5, 0.5, 0);
      opacity: 0.5;
    }
    .slider-container .slider .slide.active {
      z-index: 3;
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
      
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
    @media (max-width: 768px) {
      .slider-container .slider {
        position: relative;
        left: 2.5%;
        height: 450px;
        width: 10%;
      }
    
    .slider-container .slider .slide {
      display: flex;
        width: 100%;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
        background-color: #2c2a4000;
        align-items: center;
        justify-content: center;
    }
      .slider-container .arrow-right {
        transform: translate3d(100px, -50%, 0);
      }
      .slider-container .arrow-left {
        transform: translate3d(-100px, -50%, 0);
      }
    
    
    .slider-container .slider .slide.prev-2 {
      transform: translate3d(-95%, -50%, 0) scale3d(0, 0, 0);
      z-index: 1;
      opacity: 0;
    }
    .slider-container .slider .slide.prev-1 {
      transform: translate3d(-350%, -50%, 0) scale3d(0.6, 0.6, 1);
      z-index: 2;
      
    }
    .slider-container .slider .slide.next-1 {
      z-index: 2;
      transform: translate3d(250%, -50%, 0) scale3d(0.6, 0.6, 1);
    }
    .slider-container .slider .slide.next-2 {
      z-index: 1;
      transform: translate3d(-5%, -50%, 0) scale3d(0, 0, 0);
      opacity: 0;
    }
    .slider-container .slider .slide.active {
      z-index: 3;
      transform: translate3d(-50%, -50%, 0) scale3d(0.9, 0.9, 1);
      
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  @media (max-width: 580px) {
    .slider-container .slider {
      position: relative;
      left: 3%;
      height: 450px;
      width: 10%;
    }
    @media (max-width: 425px) {
      .slider-container .slider {
        position: relative;
        left: 0%;
        height: 450px;
        width: 10%;
      }
  
    }

  .slider-container .slider .slide {
    display: flex;
      width: 100%;
      height: 270px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
      transition: transform 0.1s;
      background-color: #2c2a4000;
      align-items: center;
      justify-content: center;
  }
    .slider-container .arrow-right {
      transform: translate3d(40px, -50%, 0);
    }
    .slider-container .arrow-left {
      transform: translate3d(-40px, -50%, 0);
    }
  
  
  .slider-container .slider .slide.prev-2 {
    transform: translate3d(-95%, -50%, 0) scale3d(0, 0, 0);
    z-index: 1;
    opacity: 0;
  }
  .slider-container .slider .slide.prev-1 {
    transform: translate3d(-350%, -50%, 0) scale3d(0, 0, 0);
    z-index: 2;
    opacity: 0;
  }
  .slider-container .slider .slide.next-1 {
    z-index: 2;
    transform: translate3d(250%, -50%, 0) scale3d(0, 0, 0);
    opacity: 0;
  }
  .slider-container .slider .slide.next-2 {
    z-index: 1;
    transform: translate3d(-5%, -50%, 0) scale3d(0, 0, 0);
    opacity: 0;
  }
  .slider-container .slider .slide.active {
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale3d(0.9, 0.9, 1);
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.box-video1{
  max-width: 90%;
  height: auto;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 7%;
  border-bottom: 1px solid black;
}

.box-video1 .box-button{
  margin-bottom: 8%;
}
  
#intro{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #032649;
  border-radius: 10px;
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.884);
  
  
}

@media (max-width: 768px) {
  .box-video1{
    
    min-height: 450px;
  }
  #intro{
    width: 80%;
    min-height: 280px;
    background-color: #032649;

  }

  .box-video1 .box-button{
    margin-top: 5%;
  }
}

@media (max-width: 580px) {
  .box-video1{
    padding-top: 8%;
    min-height: 450px;
  }
  #intro{
    width: 90%;
    min-height: 200px;
    background-color: #032649;

  }
}
@media (max-width: 425px) {
  .box-video1{
    padding-top: 10%;
    min-height: 400px;
  }
  #intro{
    width: 90%;
    min-height: 200px;
    background-color: #032649;

  }
  .box-video1 .box-button{
    margin-top: 10%;
  }

.box-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}

.flip-card-inner{
  max-width: 230px;
    max-height: 370px;
}

  .flip-card-front, .flip-card-back{
    max-width: 230px;
    max-height: 370px;
  }
  .int6 .flip-card .click{
    left: 17%;
  }
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}